p{
  color: blue;
}
h1{
  color: blue;
  font-style: italic;
  text-align: center;
}
h2{
  color: black;
  font-style: normal;
  text-align: justify;
}
p{
  color: black;
  text-align: justify;
  font-family: sans-serif;
}
